<!DOCTYPE html>
<html>
  <head>
    <title> What the Trump? </title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href={{ url_for('static',filename='css/stylesheet.css')}}>
  </head>
  <body>
    {% for url in urls %}
      <div class = "tweet">
        <iframe border=0 frameborder=0 height=250 width=550 src= {{url}}></iframe> 
      </div>
    {% endfor %}
  </body>
</html>
